attrs==21.4.0
Automat==20.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==36.0.1
cssselect==1.1.0
decorator==5.1.1
extruct==0.13.0
filelock==3.6.0
html-text==0.5.2
html5lib==1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
isodate==0.6.1
itemadapter==0.4.0
itemloaders==1.0.4
jmespath==0.10.0
jstyleson==0.0.2
lxml==4.8.0
mf2py==1.1.2
parsel==1.6.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyRdfa3==3.5.3
queuelib==1.6.2
rdflib==6.1.1
rdflib-jsonld==0.6.2
requests==2.27.1
requests-file==1.5.1
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.1
tldextract==3.2.0
Twisted==22.2.0
typing-extensions==4.1.1
urllib3==1.26.8
validators==0.18.2
w3lib==1.22.0
webencodings==0.5.1
zope.interface==5.4.0
